:root {
    --levelfour-color: #1B262C;
    --levelthree-color: #444F5A;
    --leveltwo-color: #03090c;
    --levelone-color: #BBE1FA;
    --image: url("/images/2.jpg");
}

body {
    background-color: var(--levelfour-color) !important;
}

.img {
    background-attachment: fixed;
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center;    
}

/*
    outline
*/

.outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.customheader {
    background-color: var(--levelfour-color)
}

.customfooter {
    background-color: var(--levelfour-color)
}

.space {
    background-color: var(--levelthree-color);
}

.mid {
    background-color: var(--levelfour-color);
}

/*
    mid-inside
*/

h1 {
    color: white !important;
    font-family: 'Sacramento', cursive;   
    font-size: 5vw !important; 
    margin-top: 1.6vw !important;
}

.frame {
    width: 52vw;
    margin: auto;
}

.midinfo {
    border-style: solid;
    border-width: 0.2vw;
    border-color: white;
    height: 100%;
    width: 100%;
    background-color: var(--leveltwo-color);
}

.plate {
    background-color: var(--levelfour-color);
}

.info-plate-c {
    background-color: var(--leveltwo-color);
    display: inline-block;
}

.info-plate {
    height: 100%;
    width: 100%;
}

.info-plate-right {
    width: 100%;
}

.info-plate-left {
    width: 100%;
}

.info-plate-top {
    height: 100%;
    float: left;
}

.info-plate-bottom {
    height: 100%;
    float: right;
}

.butdivside {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    height: 50%;
    background-color: var(--leveltwo-color);
    margin: 0%;
    padding: 5%;
}

.btn {
    display: inline-block;
    border-radius: 0 !important;
    width: 100%;
    height: 100%;
    font-size: 1.5vw !important;
}

.butdivmiddle {
    vertical-align: top;
    display: inline-block;
    width: 49%;
    height: 100%;
    background-color: var(--leveltwo-color);
    margin: 0%;
    padding: 3%;
}

/*
    normal pc size
*/

@media (max-width: 5000px) and (min-width: 1150px){
    .first-plate {
        padding: 1%;
        height: 11.375vw;
        width: 39vw;
        margin-left: auto;
    }

    .second-plate {
        display: inline-block;
        float: left;
        height: 24.375vw;
        width: 13vw;
        margin: 0;
        padding: 1%;
    }

    .third-plate {
        height: 13vw;
        width: 26vw;
        padding: 1%;
        margin: auto;
    }

    .fourth-plate {
        display: inline-block;
        float: right;
        height: 24.375vw;
        width: 13vw;
        padding: 1%;
        margin: 0;
    }

    .fifth-plate {
        padding: 1%;
        height: 11.375vw;
        width: 39vw;
    }

    .info-plate {
        padding: 3%;
    }

    .info-plate-right {
        height: 80%;
    }

    .info-plate-left {
        height: 80%;
        margin-top: 40%;
    }

    .info-plate-top {
        width: 85%;
    }

    .info-plate-bottom {
        width: 85%;
    }
}

/*
    leptop / tablet size
*/

@media (max-width: 1150px) and (min-width: 720px){
    h1 {
        font-size: 6vw !important; 
        margin-top: 2.1vw !important;
    }
    
    h5 {
        font-size: 2vw !important;
    }

    .frame {
        width: 60vw;
    }

    .first-plate {
        padding: 1%;
        height: 14vw;
        width: 45vw;
        margin-left: auto;
    }

    .second-plate {
        display: inline-block;
        float: left;
        height: 28vw;
        width: 15vw;
        margin: 0;
        padding: 1%;
    }

    .third-plate {
        /* 200px = */
        height: 15vw;
        width: 30vw;
        padding: 1%;
        margin: auto;
    }

    .fourth-plate {
        display: inline-block;
        float: right;
        height: 28vw;
        width: 15vw;
        padding: 1%;
        margin: 0;
    }

    .fifth-plate {
        padding: 1%;
        height: 14vw;
        width: 45vw;
    }

    .info-plate {
        padding: 3%;
    }

    .info-plate-right {
        height: 80%;
    }

    .info-plate-left {
        height: 80%;
        margin-top: 45%;
    }

    .info-plate-top {
        width: 85%;
    }

    .info-plate-bottom {
        width: 85%
    }
}

/*
    phone size
*/

@media (max-width: 720px) and (min-width: 410px) {
    h1 {
        font-size: 10vw !important; 
        margin-top: 3.2vw !important;
    }
    
    h5 {
        display:inline-block !important; 
        margin-bottom: 0 !important;
        font-size: 3vw !important;
        text-align: center !important;
    }

    .customheader {
        height: 80px;
    }

    .customfooter {
        height: 80px;
    }

    .first-plate {
        margin-top: 2vw !important; 
        margin-bottom: 2vw !important; 
        margin: auto;
        padding: 2%;
        height: 25vw;
        width: 100%;
    }

    .second-plate {
        margin-top: 4vw !important; 
        margin-bottom: 4vw !important; 
        height: 25vw;
        width: 100%;
        padding: 2%;
        margin: auto;
    }

    .third-plate {
        margin-top: 4vw !important; 
        margin-bottom: 4vw !important; 
        height: 25vw;
        width: 100%;
        margin: auto;
        padding: 2%;
    }

    .fourth-plate {
        margin-top: 4vw !important; 
        margin-bottom: 4vw !important; 
        height: 25vw;
        width: 100%;
        margin: auto;
        padding: 2%;
    }

    .fifth-plate {
        margin-top: 4vw !important; 
        margin-bottom: 4vw !important; 
        margin: auto;
        padding: 2%;
        height: 25vw;
        width: 100%;
    }

    .info-plate-right {
        height: 100%;
        padding: 3%;
    }

    .info-plate-left {
        height: 100%;
    }

    .info-plate-top {
        width: 100%;
    }

    .info-plate-bottom {
        width: 100%;
    }
    
    .btn {
        font-size: 3vw !important;
        text-align: center !important;
    }

    .lucky {
        font-size: 2vw !important;
    }
    
    .butdivside {
        width: 49%;
        height: 100%;
        padding: 3%;
    }
}

@media (max-width: 410px) and (min-width: 0px) {
    h1 {
        font-size: 10vw !important; 
        margin-top: 3.2vw !important;
    }

    h5 {
        display: inline-block !important; 
        margin-bottom: 0 !important;
        font-size: 3vw !important;
        text-align: center !important;
    }

    .customheader {
        height: 80px;
    }

    .customfooter {
        height: 80px;
    }

    .first-plate {
        margin-top: 2vw !important; 
        margin-bottom: 2vw !important; 
        margin: auto;
        padding: 2%;
        height: 25vw;
        width: 100%;
    }

    .second-plate {
        margin-top: 4vw !important; 
        margin-bottom: 4vw !important; 
        height: 25vw;
        width: 100%;
        padding: 2%;
        margin: auto;
    }

    .third-plate {
        margin-top: 4vw !important; 
        margin-bottom: 4vw !important; 
        height: 25vw;
        width: 100%;
        margin: auto;
        padding: 2%;
    }

    .fourth-plate {
        margin-top: 4vw !important; 
        margin-bottom: 4vw !important; 
        height: 25vw;
        width: 100%;
        margin: auto;
        padding: 2%;
    }

    .fifth-plate {
        margin-top: 4vw !important; 
        margin-bottom: 4vw !important; 
        margin: auto;
        padding: 2%;
        height: 25vw;
        width: 100%;
    }

    .info-plate-right {
        height: 100%;
        padding: 3%;
    }

    .info-plate-left {
        height: 100%;
    }

    .info-plate-top {
        width: 100%;
    }

    .info-plate-bottom {
        width: 100%;
    }
    
    .btn {
        font-size: 3vw !important;
        text-align: center !important;
        padding: 0 !important;
    }

    .lucky {
        font-size: 2vw !important;
    }
    
    .butdivside {
        width: 49%;
        height: 100%;
        padding: 3%;
    }
}